.header {
  @apply bg-white shadow-lg;

  &.headerScroll {
    @apply  fixed w-full top-0 z-[999] ;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    -webkit-box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  }
  &.homePage {
    @apply bg-transparent absolute top-0 left-0 right-0 w-full z-10 inline-block shadow-none;
  }
}

