.selectBox {
  position: relative;
  display: flex;
  align-items: center;
  @apply inline-block rounded border border-gray-200 text-gray-600 bg-white pr-5 #{!important};

  select {
    background-clip: padding-box;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 99;
    background: none;

    @apply px-4 py-3 #{!important};
  }

  &:after {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(75, 85, 99, var(--tw-text-opacity)) !important;
    position: absolute;
    top: 40%;
    right: 15px;
    content: "";
    z-index: 98;
  }
}